.wrapper-with-padding
  .note-index.clearfix
    - if @notes.present?
      %h1.page-title All your entries
      - @notes_by_month.each do |beginning_of_month, notes|
        .note-index__month
          %p
            = I18n.t("date.month_names")[beginning_of_month.month]
            = beginning_of_month.year
          - notes.each do |note|
            .note-index__note
              .note-index__note__date
                %span= note.date.strftime('%d')
                %span= I18n.t("date.month_names")[note.date.month]
                -#%span= note.date.year
              .note-index__note__content
                %a{ href: (url_for note) }
                  %p.note-index__note__content__title= note.title
                  %p.note-index__note__content__excerpt= truncate(strip_tags(note.content), length: 50)
              .note-index__note__actions
                =link_to fa_icon("eye"), note, title: 'View entry'
                =link_to fa_icon("pencil"), edit_note_path(note), title: 'Edit Note'
                =link_to fa_icon("trash-o"), note, method: :delete, data: { confirm: 'Are you sure to delete the note?' }, title: 'Delete note'
      =paginate @notes
    - else
      %h2 Welcome to MyNotes!
      %p Why don't you start creating a new note?
      %a= link_to "New Note", new_note_path, class: 'button'
