%h1 All your documents
= link_to "Create document", new_document_path

.wrapper_with_padding
  #documents.clearfix
    - unless @documents.blank?
      - @documents.each do |document|
        %a{ href: (url_for document) }
          .document
            %p.title= document.title
            %p.date= time_ago_in_words(document.created_at)
            %p.content= truncate(document.content, length: 50)
    - else
      %h2 Create a new document
      %p Start creating Notes
      %button= link_to "New Document", new_document_path
