.wrapper-with-padding
  =link_to documents_path, class: 'back-link  u-mb0' do
    Back to all documents
  .document-show
    %h1.document-show__title= @document.title
    %p.document-show__date= @document.created_at.strftime("%a %d %B %Y")
    %p= simple_format @document.content

    .document-show__actions
      = link_to 'All documents', documents_path, class: 'button button--small'
      = link_to 'Edit document', edit_document_path(@document), class: 'button button--small'
      = link_to 'Delete document', document_path(@document), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button button--small'
