.wrapper_with_padding
  = link_to 'Back to all documents', documents_path, class: 'back-link  u-m0'
  #document_show
    %h1.title= @document.title
    %p.document_date= @document.created_at.strftime("%d %B %Y - %H:%M")
    %p= simple_format @document.content

    .buttons
      = link_to 'All documents', documents_path, class: 'button'
      = link_to 'Edit document', edit_document_path(@document), class: 'button'
      = link_to 'Delete document', document_path(@document), class: 'button', method: :delete, data: { confirm: 'Are you sure?' }
